*.fastq
*.fastq.gz
*.RData
*.zip
*.png
*.html
*.js
*.pdf
*.css
*.csv
*.txt
*.fna
*.biom
*.ico
*.fasta
*.fasta.gz
*.fa
*.fa.gz
*.rds
*.parquet
*.meta.json


microbiome_analysis/cache/strobelca/kmer_index_5e0c59bd7b810add.meta.json
