*.fastq
*.fastq.gz
*.RData
*.zip
*.png
*.js
*.css
*.csv
*.txt
*.fna
*.biom
*.ico
*.fasta
*.fasta.gz
*.fa
*.fa.gz
*.rds
*.parquet
*.meta.json
streaming_index*
pandoc*
debian*
outputs_v3/
outputs_v4/

streaming_index*
GSR-DB*

microbiome_analysis/cache/strobelca/kmer_index_5e0c59bd7b810add.meta.json

# Large reference database files
*.sintax_cache.bin
microbiome_analysis/references/SILVA_138.2.bacteria_only.sintax_cache.bin


integrated/cache/
integrated/maaslin2*
.gstack/
